.wishList__Wrapper {
    display: grid;
    height: 80vh;
    grid-template-rows: min-content min-content 1fr min-content;
    padding: 0;
}

.temp__Desc {
    padding: 2rem;
}

.temp__Header {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    font-weight: bold;
    height: 2rem;
    width: 100%;
}